defaults: &defaults
  working_directory: ~/node-awscli
  docker:
    - image: circleci/node:8.11

version: 2
jobs:

  build:
    <<: *defaults
    steps:
      - setup_remote_docker
      - checkout
      - run: docker build .

  build_and_update:
    <<: *defaults
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Build Image
          command: |
            TAG=$(echo $CIRCLE_BRANCH | sed "s@/@_@g")
            docker build -t rhinogram/node-awscli:$TAG .
      - run:
          name: Login to Dockerhub and Push
          command: |
            docker login -u $USERNAME -p $PASSWORD
            docker push rhinogram/node-awscli:$TAG

workflows:
  version: 2

  general:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - master
                - '8.11'
                - '8.10'

  update:
    jobs:
      - build_and_update:
          filters:
            branches:
              only:
                - master
                - '8.11'
                - '8.10'
